body, #container {
    background: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

ul li {
    list-style-position: inside;
    list-style: disc;
    padding-left: 20px;
}

h1 {
    font-size:150%;
}

pre {
    color: #ffffff;
    font-size:80%;
}

table, th, td {
    border: 1px solid #f0f0f0;
}

th, td {
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
}

table {
    border-collapse: collapse;
    background: url(../../assets/img/select-background-image.png) center;
    background-clip: padding-box;
    background-origin: padding-box;
}

thead th, tbody tr:nth-child(even) {
    background: url(../../assets/img/background-image-golden2.png) center;
    background-clip: padding-box;
    background-origin: padding-box;
}

.inner {
    background: #444;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 740px;
    max-width: 900px;
    margin: 0 auto;
}

#blog-post * {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

#blog-post a {
    color: #ff0;
}

#blog-post h1.title {
    font-size:400%;
}

#blog-post h1 {
    font-size:350%;
}

#blog-post h2, .rpgui-content h2 {
    font-size:300%;
}

#blog-post h2 a {
    font-size: 150%;
}

#blog-posts h3, #blog-posts h4 {
    font-size:250%;
}

#blog-posts h5, #blog-posts h6 {
    font-size:200%;
}

#blog-post p, #blog-post a, #blog-post li, #blog-post label, #blog-post th, #blog-post td {
    font-size: 16pt;
}

#blog-post label, #blog-post button {
    font-weight: bolder;
}

#blog-post img {
    display: block;
    margin: 0 auto;
}

.rpgui-content .roll-results textarea {
  height: fit-content;
}